<section class="skills-card">
  <h2>Compétences</h2>

  <div class="tech">
    <h4>Technique <span class="count">({{ data.skills.technical.length }})</span></h4>
    <div class="tags">
      <span class="tag" *ngFor="let s of data.skills.technical">{{ s }}</span>
    </div>
  </div>

  <div class="functional">
    <h4>Fonctionnel <span class="count">({{ data.skills.functional.length }})</span></h4>
    <ul>
      <li *ngFor="let s of data.skills.functional">{{ s }}</li>
    </ul>
  </div>
</section>
